env_variables:
  NODE_ENV:
  JWT_SECRET:
  JWT_EXPIRED:
  SESSION_SECRET:
  DATABASE_URL:
  IMAGEKIT_PUBLIC_KEY:
  IMAGEKIT_PRIVATE_KEY:
  IMAGEKIT_URL_ENDPOINT:
  GOOGLE_NODE_RUN_SCRIPTS: ''
